@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #fff;
  /* margin: 8px !important; */
}

.cardHH {
position: absolute;
  width: 60%;
  height: 200px;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
  border: 1px solid silver;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
}
.card-wrapper .cardHH {
  opacity: 1;
  transform: scale(1);
}

.specialSection{
  padding: 100px 12vw;
}
.custom-shape-divider-top-1726537091 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1726537091 svg {
    position: relative;
    display: block;
    width: calc(118% + 1.3px);
    height: 104px;
}

.custom-shape-divider-top-1726537091 .shape-fill {
    fill: #FFFFFF;
}

/* .underline { */
/*   position:inherit; */
/*   width: 100px; */
/*   height: 10px; */
/*   background: black; */
/* } */

div.destinoCss div{
  border-radius: 0%;
}
.paladin {
  padding-right: 50%;
}

.containerImgRounded {
  transform: skewX(-20deg);
  border-radius: 0 20px 0 20px;
}

.imgRounded {
  /* border-radius: 0 50px 0 50px; */
  position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* margin-right: -50px; */
  transform:  skewX(20deg) scaleX(1.50);
}


.subtitle:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 0.1rem; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #D20000; /* This creates the border. Replace black with whatever color you want. */
}

.wasgi {
font-size: 18px;
}
.wasgi p{
color: #5B5B5F;
text-align: justify;
overflow-wrap: break-word;
font-weight:300;
}


.wasgi p a{
  font-weight: bold;
}

.containerTop {
    display:grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

.containerMid {
    display:grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
.containerBot {
    display:grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

.dataLegal {
border-top-width: 0 !important;
}

.font-expand{
    font-stretch: expanded;
}




.tourQWERTY {
  max-width: 85%;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.7;
  color: #333;
  overflow-wrap: break-word;
  text-wrap:wrap;
}

/* Estilos para los párrafos */
.tourQWERTY p {
  margin-bottom: 20px;
  font-size: 0.85rem;
}

/* Estilos para enlaces */
.tourQWERTY a {
  color: #1a73e8;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tourQWERTY a:hover {
  color: #0f56b3;
  border-bottom: 1px solid #1a73e8;
}

/* Estilos para los subtítulos (headings) */
.tourQWERTY h2, .tourQWERTY h3, .tourQWERTY h4, .tourQWERTY h5, .tourQWERTY h6 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #222;
  font-weight: 600;
  border-left: 4px solid #D20000;
  padding-left: 15px;
}

/* Tamaños y estilos específicos para cada subtítulo */
.tourQWERTY h2 {
  font-size: 1.75rem;
}

.tourQWERTY h3 {
  font-size: 1.5rem;
}

.tourQWERTY h4 {
  font-size: 1.25rem;
}

.tourQWERTY h5 {
  font-size: 1rem;
}

.tourQWERTY h6 {
  font-size: 0.75rem;
  color: #555;
}

/* Estilo para listas */
.tourQWERTY ul, .tourQWERTY ol {
  margin-left: 15px;
  margin-bottom: 15px;
}

.tourQWERTY li {
  margin-bottom: 7px;
}

/* Estilo para imágenes */
.tourQWERTY img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}




@media (min-width: 1024px){
  
.subtitle:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 1rem; /* This creates some space between the element and the border. */
    border-bottom: 3px solid #D20000; /* This creates the border. Replace black with whatever color you want. */
}
.containerImgRounded {
  transform: skewX(-20deg);
  border-radius: 0 50px 0 50px;
}

.imgRounded {
  /* border-radius: 0 50px 0 50px; */
  position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* margin-right: -50px; */
  transform:  skewX(20deg) scaleX(1.50);
}
  .wasgi p{
font-size: 1.25rem; /* 18px */
line-height: 2rem; /* 28px */
padding-right:1.25rem;
  }
 .containerTop {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "one two three";
} 
 .one { grid-area: one; }

.two { grid-area: two; }

.three { grid-area: three; }

 .containerMid {  display: grid;
  grid-template-columns: 1fr 1fr 1.75fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "gaaaaMid gaaaaMid minigaMid"
    "gaaaaMid gaaaaMid midgaMid";
}

.gaaaaMid { grid-area: gaaaaMid; }

.minigaMid { grid-area: minigaMid; }

.midgaMid { grid-area: midgaMid; }

.containerBot {  display: grid;
  grid-template-columns: 1.75fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "minigaBot gaaaaBot gaaaaBot"
    "midgaBot gaaaaBot gaaaaBot";
}

.gaaaaBot { grid-area: gaaaaBot; }

.minigaBot { grid-area: minigaBot; }

.midgaBot { grid-area: midgaBot; }


/* TOURQUERY CONTENT STYLE */
.tourQWERTY {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.7;
  color: #333;
}

/* Estilos para los párrafos */
.tourQWERTY p {
  margin-bottom: 20px;
  font-size: 1rem;
}

/* Estilos para enlaces */
.tourQWERTY a {
  color: #1a73e8;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tourQWERTY a:hover {
  color: #0f56b3;
  border-bottom: 1px solid #1a73e8;
}

/* Estilos para los subtítulos (headings) */
.tourQWERTY h2, .tourQWERTY h3, .tourQWERTY h4, .tourQWERTY h5, .tourQWERTY h6 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #222;
  font-weight: 600;
  border-left: 4px solid #D20000;
  padding-left: 15px;
}

/* Tamaños y estilos específicos para cada subtítulo */
.tourQWERTY h2 {
  font-size: 2rem;
}

.tourQWERTY h3 {
  font-size: 1.75rem;
}

.tourQWERTY h4 {
  font-size: 1.5rem;
}

.tourQWERTY h5 {
  font-size: 1.25rem;
}

.tourQWERTY h6 {
  font-size: 1rem;
  color: #555;
}

/* Estilo para listas */
.tourQWERTY ul, .tourQWERTY ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

.tourQWERTY li {
  margin-bottom: 10px;
}

/* Estilo para imágenes */
.tourQWERTY img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}



  

}




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}




@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
